{% extends "layout.html" %}
{% block content %}
        <br>
        <head><bold><h2>About Venture Capital Recommender system</h2></head><br><br>
        <p>
        	The huge amount involved in business start-up costs; founders are always concerned with financing their venture. This is one among the most difficult challenge faced by the founder. There are many ways to finance a start-up or small businesses, such as, crowd funding, angel investors etc. This paper represents the solution using recommendation system for venture capital investors. The start-up companies work on various domains. Start-up companies is not restricted to tech industry alone, but it will also explore other fields such as pharmaceuticals, agriculture etc. For the investors to pick the right start-up to invest various recommendation approach will be useful.
        </p>
        
        <p>
        	Recommender systems has become an integral part of daily lives. A person will use recommendation system in many aspects of everyday routine such as watching TV shows, shopping, social networking websites, reading books etc. The necessity of this recommendation system is increasing day by day with the number of increases in media content on internet and TV is increased. The amount of information that we retrieve, and use has rapidly increased. Data mining is an important aspect of it which helps us retrieve relevant data from a huge pile of data available. Basically, there are three important types of recommendation systems namely, Collaborative filtering, Content based filtering and Knowledge based filtering which helps in predicting the user preferences, thereby helps in recommendation.	

        </p>

        <p>
        	Recommender systems has become an integral part of daily lives. A person will use recommendation system in many aspects of everyday routine such as watching TV shows, shopping, social networking websites, reading books etc. The necessity of this recommendation system is increasing day by day with the number of increases in media content on internet and TV is increased. The amount of information that we retrieve, and use has rapidly increased. Data mining is an important aspect of it which helps us retrieve relevant data from a huge pile of data available. Basically, there are three important types of recommendation systems namely, Collaborative filtering, Content based filtering and Knowledge based filtering which helps in predicting the user preferences, thereby helps in recommendation.	

        </p>
        
{% endblock content %}